<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового хора</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/chorusCycle/newChorusCycle.css}"/>
</head>
<body>
<div class="container">
    <form th:method="POST" th:action="@{/chorus}" th:object="${chorus}">
        <div class="composerName"><input type="text" placeholder="введите композитора" th:field="*{composerName}"></div>
        <div class="chorusName"><input type="text" placeholder="введите название" th:field="*{chorusName}"></div>
        <div class="dedication"><input type="text" placeholder="посвящение (если есть)" th:field="*{dedication}"></div>
        <div class="textAuthor">
           <button class="addAuthor">Добавить авторов</button>
        </div>
        <div class="opus"><input type="text" placeholder="введите опус (цифра)" th:field="*{opus}"></div>
        <div class="music">
            <select th:field="*{music}">
                <option th:value="'Cappella'">a'Cappella</option>
                <option th:value="'Инструментальный состав: '">Инструментальный состав</option>
            </select> </br>
            <div class="optionInstruments">
                <select>
                    <option disabled selected>выбрать инструмент</option>
                    <option>фортепиано</option>
                    <option>рояль</option>
                    <option>скрипка</option>
                    <option>альт</option>
                    <option>виолончель</option>
                    <option>контрабас</option>
                    <option>флейта</option>
                    <option>флейта-пикколо</option>
                    <option>свирель</option>
                    <option>гобой</option>
                    <option>английский рожок</option>
                    <option>кларнет</option>
                    <option>фагот</option>
                    <option>труба</option>
                    <option>валторна</option>
                    <option>тромбон</option>
                    <option>туба</option>
                    <option>саксофон</option>
                    <option>дудук</option>
                    <option>арфа</option>
                    <option>малый барабан</option>
                    <option>большой барабан</option>
                    <option>там-там</option>
                    <option>колокола</option>
                    <option>тарелки</option>
                    <option>треугольник</option>
                    <option>бубен</option>
                    <option>литавра</option>
                    <option>вибрафон</option>
                    <option>ксилофон</option>
                    <option>колокольчики</option>
                    <option>коробочка</option>
                    <option>кастаньеты</option>
                    <option>ложки</option>
                    <option>баян</option>
                    <option>аккордеон</option>
                    <option>балалайка</option>
                    <option>домра</option>
                </select> </br>
                <input type="text" class="instruments" placeholder="список инструментов" th:field="*{music}">
            </div>

        </div>
        <div class="writeDate"><input type="text" placeholder="дата написания" th:field="*{writeDate}"></div>
        <div class="premiereDate"><input type="text" placeholder="дата премьеры" th:field="*{premiereDate}"></div>
        <div class="premierePlace"><input type="text" placeholder="место премьеры" th:field="*{premierePlace}"></div>
        <div class="structure">
            <button class="addNumbers">Добавить содержание цикла</button>
        </div>
        <button disabled>сохранить в черновик (недоступно)</button>
        <br>
        <input type="submit" value="Опубликовать">
    </form>
</div>
<script>
    let music = document.querySelector('.music')
    let musicTrigger = music.querySelector('select')
    let optionInstruments = document.querySelector('.optionInstruments')
    let optionVoices = document.querySelector('.optionVoices')
    musicTrigger.addEventListener('change', () => {
        if (musicTrigger.value === "Инструментальный состав: ") {
            optionInstruments.style.display = 'block'
        } else {
            optionInstruments.style.display = 'none'
            optionInstruments.querySelector('.instruments').value = ''
        }
    })




    function selector(target, placeHolder, targetName) {
        let select = target.querySelector('select')
        let input = target.querySelector('input')
        select.addEventListener('change', () => {
            if (input.value === '') {
                let time
                setTimeout(() => {
                    time = prompt(targetName)
                    input.value += select.value + ' ' + 'x' + time
                    select.options[select.selectedIndex].remove()
                    select.value = placeHolder
                }, 0)
            } else if (input.value.includes(select.value)) {
            } else {
                let time
                setTimeout(() => {
                    time = prompt(targetName)
                    input.value += ', ' + select.value + ' ' + 'x' + time
                    select.options[select.selectedIndex].remove()
                    select.value = placeHolder
                }, 0)
            }
        })
    }

    selector(optionInstruments, 'выбрать инструмент', 'количество инструментов выбранного типа')


    let container = document.querySelector('.textAuthor')
    let container2 = document.querySelector('.structure')
    let btnTest = document.querySelector('.addAuthor')
    let btnTest2 = document.querySelector('.addNumbers')
    function createDiv(parent, width, height, placeholder, attr, className, check, mass){
        let customDiv = document.createElement("div")
        let customInputContainer = document.createElement("div")
        let customInput = document.createElement("input")
        let customDivBtn = document.createElement("div")

        customDiv.classList.add('customDiv', className)
        customInput.classList.add('customInput')
        customInput.placeholder = placeholder
        customInput.setAttribute("th:field", "${"+attr+"}")
        customDivBtn.classList.add('customDivBtn')
        customInputContainer.classList.add('customInputContainer')
        parent.appendChild(customDiv)
        customDiv.appendChild(customInputContainer)
        customDiv.style.width = width
        customInputContainer.style.height = height + 'px'
        customInputContainer.appendChild(customInput)
        customInputContainer.appendChild(customDivBtn)
        customDivBtn.addEventListener('click', ()=>{
            customDiv.remove()
        })

        if(check){
            let customSelect = document.createElement('select')
            customSelect.classList.add('customSelect')
            customSelect.style.height = height + 'px'
            customDiv.appendChild(customSelect)
            for(let i=0; i<mass.length; i++){
                customSelect.add(new Option(mass[i]));
            }
        }
    }


    btnTest.addEventListener('click', (e)=>{
        e.preventDefault()
        createDiv(container, 100+'%', 26, "введите имя автора", "attri")
    })
    btnTest2.addEventListener('click', (e)=>{
        e.preventDefault()
        createDiv(container2, 100+'%', 26, "введите название хора", "attri")
    })


    в


</script>
</body>
</html>