/*тень*/
input[type=submit], .m1, .m2Title, .m2Label, input[type=button] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}


.nav {
    position: relative;
    width: 10%;
    height: 100%;
}

.btnHome {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("img/home.png");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

.logo{
    width: 130px;
    background-image: url("img/logo.png");
    background-size: 100%,100%;
    background-repeat: no-repeat;
}

p, option, select {
    text-transform: uppercase;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.localSave {
    display: none;
}

.content {
    margin: 0 auto;
    width: 880px;
    padding-top: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 50px;
    text-align: center;
}

.roundMenu {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
    background-size: 100%, 100%;
}

.col {
    width: 210px;
}

.col:first-child, .col:last-child {
    padding-top: 100px;
}

.cell {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 28px;
}

.cell:last-child {
    margin-bottom: 0;
}

.round {
    cursor: pointer;
    transition: all 1s ease 0s;
    width: 176px;
    height: 176px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: 100%, 100%;
}

.roundF {


    transform: rotate(-360deg) scale(1.2);
}

.cell p:nth-child(2) {
    font-size: 19px;
    line-height: 28px;
}

.cell p:nth-child(3) {
    font-size: 12px;
    line-height: 14px;
}

.submitBar {
    width: 100%;
    padding: 32px 180px;
    display: flex;
    justify-content: space-between;
}

input[type=submit], input[type=button] {
    width: 250px;
    height: 24px;
}

.saveBtn, .saveBtn2, .saveBtnFio {
    cursor: pointer;
    width: 220px;
    height: 30px;
    margin: 54px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.footer {
    line-height: 32px;
    text-align: center;
    height: 32px;
}

.menu {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    margin-bottom: 10px;
}

.m1 {
    width: 350px;
    padding: 12px 26px;
    height: 54px;
    background-color: rgba(239, 239, 239, 0.8);
    margin-bottom: 7px;
    cursor: pointer;
}

.m1 p:nth-child(1) {
    font-size: 13px;
    line-height: 18px;
}

.m1 p:nth-child(2) {
    font-size: 10px;
    line-height: 11px;
}

.m2 {
    display: none;
}

.m2Title {
    width: 350px;
    height: 54px;
    background-color: #EFEFEF;
    margin-bottom: 26px;
}

.m2TitleIn {
    margin-top: 32px;
}

.m2Label {
    width: 350px;
    display: flex;
    height: 54px;
    background-color: rgba(239, 239, 239, 0.8);
    margin-bottom: 7px;
}

.m2Textarea textarea {
    resize: none;
    height: 171px;
    width: 350px;
}

.fog {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.9);
}

.bioFrame {
    height: 760px;
    display: flex;
}

.bioLeft {
    width: 310px;
    position: relative;
}

.bioRight {
    position: relative;
    width: 780px;
    margin-left: 24px;
}


.roundAll{
    background-image: url("img/okr.svg");
}
.roundBio{
    background-image: url("img/bio.svg");
}
.roundFacts{
    background-image: url("img/facts.svg");
}
.roundLive{
    background-image: url("img/live.svg");
}
.roundFio{
    background-image: url("img/fio.svg");
}
.roundOther{
    background-image: url("img/oth.svg");
}

.roundFoto{
    background-image: url("img/no_photo.svg");
}

.btnAdd {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-size: 100%, 100%;
    background-image: url("img/add.png");
    cursor: pointer;
}

.btnDel {
    position: absolute;
    right: 8px;
    bottom: 11px;
    width: 16px;
    height: 16px;
    background-size: 100%, 100%;
    background-image: url("img/close.png");
    cursor: pointer;
}

.textareaCont {
    width: 350px;
    position: relative;
    margin-bottom: 4px;
}

.textareaCont input {
    height: 30px;
    width: 100%;
    margin-bottom: 4px;
}

.newDivCell {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 550px;
}

::-webkit-scrollbar {
    width: 0;
}

.bioLabelAdd, .biaLabelDell {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    bottom: 7px;
}

.bioLabelAdd {
    right: 7px;
}

.biaLabelDell {
    right: 28px;
}

.bioLabel {
    position: relative;
}

.bioLabelIn {
    width: 310px;
    height: 54px;
    background-color: #C4C4C4;
    position: absolute;
    right: 0;

}
