<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Аранжировка</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/aboutStyle.css}"/>
    <!--    <link rel="stylesheet" href="aboutStyle.css">-->
</head>
<body>
<div class="content">
    <div class="header">
        <div class="nav">
            <a class="btnHome"></a>
        </div>
        <div class="logo"></div>
        <div class="nav"></div>
    </div>
    <div class="cap">
        <div th:if="${arrangement.getComposer()!=null}">
            <p><span> <a th:href="@{/composer/{id}(id=${arrangement.getComposer().getId()})}"
                         th:text="${arrangement.getComposer().getFio()}"></a></span></p>
        </div>
        <div th:if="${arrangement.getComposer()==null}">
            <p><span th:text="${arrangement.getComposerFio()}"></span></p>
        </div>
        <p><span th:text="${arrangement.getArrangementName()}">Утро в лесу</span></p>
        <p><span>Аранжировка</span></p>
        <p><span th:text="${arrangement.getDedication()}">Посвящается камерному хору “Lege Artis”</span></p>
    </div>
    <div class="column">
        <div class="bLeft">
            <div class="labels">
                <p>Автор текста:
                    <span th:text="${arrangement.getTextAuthor()}">А. А. Фет</span>
                </p>
                <p>Опус:
                    <span th:text="${arrangement.getOpus()}">13 a</span>
                </p>
                <p>Инструментальный состав:
                    <span style="display: block" th:text="${arrangement.getMusic()}">рояль, флейта, скрипка</span>
                </p>
                <p>Тип хора:
                    <span th:text="${arrangement.getChorusType()}">Смешанный</span>
                </p>
                <p>Количество голосов:
                    <span th:text="${arrangement.getVoiceCount()}">8</span>
                </p>
                <p>Состав хора:
                    <span th:text="${arrangement.getChorusStructure()}"></span>
                </p>
                <p>Количество хоров:
                    <span class="count" th:text="${arrangement.getChorusAmount()}"></span>
                </p>
                <p>Солисты:
                    <span th:text="${arrangement.getChorusVoicesList()}"></span>
                </p>
                <p>Хронометраж:
                    <span th:text="${arrangement.getTiming()}">2'14</span>
                </p>
                <p>Дата написания:
                    <span th:text="${arrangement.getWriteDate()}">14.02.1992</span>
                </p>
                <p>Дата | Место премьеры
                    <span style="display: block" th:text="${arrangement.getPremiereDate()}">17 марта 2004 года</span>
                    <span style="display: block" th:text="${arrangement.getPremierePlace()}">Концертный зал Шереметьевского дворца</span>
                </p>
            </div>

        </div>
        <div class="bCenter">
            <p><span th:text="${arrangement.getDescription()}">Описание</span></p>
        </div>
        <div class="bRight">
            <div class="btn"><p>история | о исполнении</p></div>
            <div class="btn"><p>о тексте</p></div>
            <div class="btn"><p>статьи | заметки</p></div>
            <div class="btn"><p>значимые исполнения</p></div>
            <div class="btn"><p>опечатки | комментарии</p></div>
        </div>
    </div>
</div>
<div class="footer"></div>

<!--<script src="aboutJs.js"></script>-->
<script th:src="@{/assets/generalAssets/aboutJs.js}"></script>


</body>
</html>


