<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Распевы</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/aboutStyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/aboutComposer.css}"/>
<!--    <link rel="stylesheet" href="aboutStyle.css">
    <link rel="stylesheet" href="aboutComposer.css">-->
</head>
<body>
<div class="content">
    <div class="header">
        <div class="nav">
            <a class="btnHome"></a>
        </div>
        <div class="logo"></div>
        <div class="nav"></div>
    </div>
    <div class="column">
        <div class="bLeft">
            <p class="fioFrame" th:text="${composer.getFio()}"></p>
            <p class="epoch" th:text="${composer.getEpoch()}"></p>
            <div class="about">
                <div class="life">
                    <p>Дата рождения:
                        <span style="display: block" th:text="${composer.getDateOfBirth()}">17 марта 2004 года</span>
                    </p>
                    <p>Место рождения:
                        <span style="display: block" th:text="${composer.getPlaceOfBirth()}">17 марта 2004 года</span>
                    </p>
                    <p>Годы активности:
                        <span style="display: block" th:text="${composer.getActivity()}">1823-1856</span>
                    </p>
                </div>
                <div class="death">
                    <p>Дата/причина смерти:
                        <span style="display: block" th:text="${composer.getDateOfDeath()}">1823-1856</span>
                        <span style="display: block" th:text="${composer.getReasonOfDeath()}">Погиб</span>
                    </p>
                    <p>Место смерти/Похоронен:
                        <span style="display: block" th:text="${composer.getPlaceOfDeath()}">Германия, Берлин </span>
                        <span style="display: block" th:text="${composer.getBuried()}">Был похоронен на Лютеранском кладбище в Берлине, позднее Лютеранском кладбище в Берлине</span>
                    </p>
                </div>
            </div>

        </div>
        <div class="bCenter">
            <div class="round"></div>
            <div class="draftFrame">
                <p th:text="${composer.getComposQuotes()}">Нам предстоит задача серьезная! Выработать собственный свой стиль и проложить для оперной русской музыки новую дорогу.</p>
            </div>
        </div>
        <div class="bRight">
            <div class="about">
                <p style="margin-bottom: 40px">Кратко о композиторе:
                    <span style="display: block" th:text="${composer.getBioMini()}">До шести лет Глинка воспитывался бабушкой по отцу Фёклой Александровной, которая полностью отстранила мать от воспитания сына. Он рос нервным, мнительным и болезненным ребёнком-недотрогой — «мимозой», по собственной характеристике Глинки. После смерти Фёклы Александровны Михаил снова перешёл в полное распоряжение матери, приложившей все усилия, чтобы стереть следы прежнего воспитания. С десяти лет Михаил начал учиться игре на фортепиано и скрипке. Первой учительницей </span>
                </p>
            </div>
            <div class="btn" onclick="this.nextElementSibling.style.display ='block'"><p>биография</p></div>
            <div class="bio">
                <div class="bioFrame"><input type="text" th:value="${composer.getBio()}"></div>
                <div class="btnClose" onclick="this.parentElement.style.display = 'none'"></div>
            </div>
            <div class="btn"><p>окружение</p></div>
            <div class="btn"><p>статьи письма</p></div>
            <div class="btn" onclick="this.children[1].click()"><p>сочинения</p><a style="display: none" th:href="@{/composer/{id}/essay(id=${composer.getId()})}"></a></div>
            <div class="btn"><p>факты | цитаты</p></div>
        </div>
    </div>
</div>
<div class="footer"></div>

<!--<script src="aboutComposer.js"></script>-->
<script th:src="@{/assets/generalAssets/aboutComposer.js}"></script>

</body>
</html>


