<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/composer/newComposer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/composer/bioStyle.css}"/>
    <!-- <link rel="stylesheet" href="newComposer.css">
     <link rel="stylesheet" href="bioStyle.css">-->
</head>
<body>
<div class="fog"></div>
<div class="content">
    <div class="header">
        <div class="nav">
            <a class="btnHome"></a>
        </div>
        <div class="logo"></div>
        <div class="nav"></div>
    </div>
    <sss>
        <form th:method="POST" th:action="@{/composer}" th:object="${composer}">
            <div class="roundMenu">
                <div class="col">
                    <div class="frame">
                        <div class="cell">
                            <div class="round roundLive btn_js"></div>
                            <p>жизнь | смерть</p>
                            <p>100%</p>
                        </div>
                        <div class="menu">
                            <div attr='0' class="m1 btn_js">
                                <p>дата рождения</p>
                                <p>100%</p>
                            </div>
                            <div attr='1' class="m1 btn_js">
                                <p>место рождения</p>
                                <p>100%</p>

                            </div>
                            <div attr='2' class="m1 btn_js">
                                <p>годы активности</p>
                                <p>100%</p>
                            </div>
                            <div attr='3' class="m1 btn_js">
                                <p>дата | причина смерти</p>
                                <p>100%</p>
                            </div>
                            <div attr='4' class="m1 btn_js">
                                <p>место смерти</p>
                                <p>100%</p>
                            </div>
                            <div attr='5' class="m1 btn_js">
                                <p>похоронен</p>
                                <p>100%</p>
                            </div>
                            <div class="back_js">назад</div>
                        </div>
                        <div class="menu">
                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{dateOfBirth}">
                                    <div class="m2Title"><p>дата рождения (выбрать одно)</p></div>
                                    <div class="m2Label"><p class="except">точная дата</p><input type="text"></div>
                                    <div class="m2Label"><p>между</p><input type="text">
                                        <p>и</p><input type="text"></div>
                                    <div class="m2Label"><p>около</p><input type="text"></div>
                                    <div class="m2Label"><p>неизвестно</p><input class="except" type="checkbox"></div>
                                </section>

                                <div class="saveBtn saveBtn_js"><p>сохранить</p></div>
                            </div>

                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{placeOfBirth}">
                                    <div class="m2Title"><p>место рождения</p></div>
                                    <div class="m2Label">
                                        <select>
                                            <option>государство</option>
                                            <option>страна</option>
                                        </select>
                                    </div>
                                    <div class="m2Label"><input type="text"></div>
                                    <div class="m2Label">
                                        <select>
                                            <option>регион</option>
                                            <option>область</option>
                                            <option>губерния</option>
                                        </select>
                                    </div>
                                    <div class="m2Label"><input type="text"></div>
                                    <div class="m2Label">
                                        <select>
                                            <option>город</option>
                                            <option>село</option>
                                            <option>уезд</option>
                                        </select>
                                    </div>
                                    <div class="m2Label"><input type="text"></div>
                                </section>


                                <div class="saveBtn saveBtn_js"><p>сохранить</p></div>
                            </div>

                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{activity}">
                                    <div class="m2Title"><p>годы активности</p></div>
                                    <div class="m2Label"><p class="except">даты</p><input type="text">
                                        <p>-</p><input type="text"></div>
                                </section>

                                <div class="saveBtn saveBtn_js"><p>сохранить</p></div>
                            </div>

                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{dateOfDeath}">
                                    <div class="m2Title"><p>дата смерти (выбрать одно)</p></div>
                                    <div class="m2Label"><p class="except">точная дата</p><input type="text"></div>
                                    <div class="m2Label"><p>между</p><input type="text">
                                        <p>и</p><input type="text"></div>
                                    <div class="m2Label"><p>около</p><input type="text"></div>
                                    <div class="m2Label"><p>неизвестно</p><input class="except" type="checkbox"></div>
                                </section>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{reasonOfDeath}">
                                    <div class="m2Title m2TitleIn"><p>причина смерти (выбрать одно)</p></div>
                                    <div class="m2Textarea"><textarea></textarea></div>
                                    <div class="m2Label"><p>неизвестно</p><input class="except" type="checkbox"></div>
                                </section>
                                <div class="saveBtn saveBtn_js"><p>сохранить</p></div>
                            </div>

                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{placeOfDeath}">
                                    <div class="m2Title"><p>место смерти</p></div>
                                    <div class="m2Label">
                                        <select>
                                            <option>государство</option>
                                            <option>страна</option>
                                        </select>
                                    </div>
                                    <div class="m2Label"><input type="text"></div>
                                    <div class="m2Label">
                                        <select>
                                            <option>регион</option>
                                            <option>область</option>
                                            <option>губерния</option>
                                        </select>
                                    </div>
                                    <div class="m2Label"><input type="text"></div>
                                    <div class="m2Label">
                                        <select>
                                            <option>город</option>
                                            <option>село</option>
                                            <option>уезд</option>
                                        </select>
                                    </div>
                                    <div class="m2Label"><input type="text"></div>
                                </section>
                                <div class="saveBtn saveBtn_js"><p>сохранить</p></div>
                            </div>

                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{buried}">
                                    <div class="m2Title"><p>похоронен (выбрать одно)</p></div>
                                    <div class="m2Textarea"><textarea></textarea></div>
                                    <div class="m2Label"><p>неизвестно</p><input class="except" type="checkbox"></div>
                                </section>

                                <div class="saveBtn saveBtn_js"><p>сохранить</p></div>
                            </div>
                        </div>
                    </div> <!--жизнь смерть | th:скрытые поля-->
                    <div class="frame">
                        <div class="cell">
                            <div class="round roundFacts btn_js"></div>
                            <p>литература</p>
                            <p>100%</p>
                        </div>
                        <div class="menu">
                            <div attr='0' class="m1 btn_js">
                                <p>цитаты композитора</p>
                                <p>100%</p>
                            </div>
                            <div attr='1' class="m1 btn_js">
                                <p>цитаты о композиторе(п)</p>
                                <p>100%</p>
                            </div>
                            <div attr='2' class="m1 btn_js">
                                <p>цитаты о композиторе(н)</p>
                                <p>100%</p>
                            </div>
                            <div attr='3' class="m1 btn_js">
                                <p>интересные факты</p>
                                <p>100%</p>
                            </div>
                            <div attr='4' class="m1 btn_js">
                                <p>статьи</p>
                                <p>100%</p>
                            </div>
                            <div attr='5' class="m1 btn_js">
                                <p>письма от композитора</p>
                                <p>100%</p>
                            </div>
                            <div attr='6' class="m1 btn_js">
                                <p>письма к композитору</p>
                                <p>100%</p>
                            </div>
                            <div class="back_js">назад</div>
                        </div>
                        <div class="menu">
                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{composQuotes}">
                                    <div class="m2Title"><p>цитата композитора</p></div>
                                    <div class="newDivCell">
                                        <div class="m2Textarea">
                                            <div class="textareaCont">
                                                <p style="display: none">quote</p>
                                                <textarea oninput="this.innerHTML = this.value"
                                                          placeholder="введите цитату"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div btnType="quote" class="btnAdd btnAddJs"></div>
                                </section>
                                <div class="saveBtn saveBtn_js"><p>сохранить</p></div>
                            </div>
                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{positiveQuotes}">
                                    <div class="m2Title"><p>положительные цитаты о композиторе</p></div>
                                    <div class="newDivCell">
                                        <div class="m2Textarea">
                                            <div class="textareaCont">
                                                <p style="display: none">qAuthor</p>
                                                <input oninput="this.setAttribute('value', value)" type="text"
                                                       placeholder="автор цитаты">
                                                <p style="display: none">quote</p>
                                                <textarea oninput="this.innerHTML = this.value"
                                                          placeholder="введите цитату о композиторе"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div btnType="quoteAbout" class="btnAdd btnAddJs"></div>
                                </section>
                                <div class="saveBtn2 saveBtn_js"><p>сохранить</p></div>
                            </div>
                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{negativeQuotes}">
                                    <div class="m2Title"><p>негативные цитаты о композиторе</p></div>
                                    <div class="newDivCell">
                                        <div class="m2Textarea">
                                            <div class="textareaCont">
                                                <p style="display: none">qAuthor</p>
                                                <input oninput="this.setAttribute('value', value)" type="text"
                                                       placeholder="автор цитаты">
                                                <p style="display: none">quote</p>
                                                <textarea oninput="this.innerHTML = this.value"
                                                          placeholder="введите цитату о композиторе"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div btnType="quoteAbout" class="btnAdd btnAddJs"></div>
                                </section>
                                <div class="saveBtn2 saveBtn_js"><p>сохранить</p></div>
                            </div>
                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{facts}">
                                    <div class="m2Title"><p>факты</p></div>
                                    <div class="newDivCell">
                                        <div class="m2Textarea">
                                            <div class="textareaCont">
                                                <p style="display: none">fact</p>
                                                <textarea oninput="this.innerHTML = this.value"
                                                          placeholder="введите факт"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div btnType="facts" class="btnAdd btnAddJs"></div>
                                </section>
                                <div class="saveBtn saveBtn_js"><p>сохранить</p></div>
                            </div>
                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{article}">
                                    <div class="m2Title"><p>статьи</p></div>
                                    <div class="newDivCell">
                                        <div class="m2Textarea">
                                            <div class="textareaCont">
                                                <p style="display: none">author</p>
                                                <input oninput="this.setAttribute('value', value)" type="text"
                                                       placeholder="автор статьи">
                                                <p style="display: none">article</p>
                                                <textarea oninput="this.innerHTML = this.value"
                                                          placeholder="введите статью"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div btnType="topic" class="btnAdd btnAddJs"></div>
                                </section>
                                <div class="saveBtn2 saveBtn_js"><p>сохранить</p></div>
                            </div>
                            <!--ПИСЬМА ОТ КОМПОЗИТОРА-->
                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{letterTo}">
                                    <div class="m2Title"><p>письма от композитора</p></div>
                                    <div class="newDivCell">
                                        <div class="m2Textarea">
                                            <div class="textareaCont">
                                                <p style="display: none">from</p>
                                                <input oninput="this.setAttribute('value', value)" type="text"
                                                       placeholder="адресат">
                                                <p style="display: none">topic</p>
                                                <input oninput="this.setAttribute('value', value)" type="text"
                                                       placeholder="тема письма">
                                                <p style="display: none">letter</p>
                                                <textarea oninput="this.innerHTML = this.value"
                                                          placeholder="введите письмо"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div btnType="letterFrom" class="btnAdd btnAddJs"></div>
                                </section>
                                <div class="saveBtn2 saveBtn_js"><p>сохранить</p></div>
                            </div>
                            <!--ПИСЬМА К КОМПОЗИТОРА-->
                            <div class="m2 l3_js">
                                <div class="back_js">назад</div>
                                <section>
                                    <input type="hidden" placeholder="скрытое поле" th:field="*{letterFrom}">
                                    <div class="m2Title"><p>письма к композитору</p></div>
                                    <div class="newDivCell">
                                        <div class="m2Textarea">
                                            <div class="textareaCont">
                                                <p style="display: none">from</p>
                                                <input oninput="this.setAttribute('value', value)" type="text"
                                                       placeholder="имя отравителя">
                                                <p style="display: none">topic</p>
                                                <input oninput="this.setAttribute('value', value)" type="text"
                                                       placeholder="тема письма">
                                                <p style="display: none">letter</p>
                                                <textarea oninput="this.innerHTML = this.value"
                                                          placeholder="введите письмо"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div btnType="letterTo" class="btnAdd btnAddJs"></div>
                                </section>
                                <div class="saveBtn2 saveBtn_js"><p>сохранить</p></div>
                            </div>
                        </div>

                        <div class="menu">
                            <div class="m2 l3_js">
                                <p>факты вглубь2</p>
                            </div>
                        </div>
                    </div> <!--литература | th:скрытые поля-->
                </div>
                <div class="col">
                    <div class="frame">
                        <div class="cell">
                            <div class="round roundFio btn_js"></div>
                            <p>фио | эпоха</p>
                            <p>100%</p>
                        </div>
                        <div class="menu">
                            <div class="back_js">назад</div>
                            <div class="m2Title"><p>фио</p></div>
                            <input type="hidden" th:field="*{fio}">
                            <section>
                                <div class="m2Label"><input type="text" placeholder="Введите фамилию"></div>
                                <div class="m2Label"><input type="text" placeholder="Введите имя"></div>
                                <div class="m2Label"><input type="text" placeholder="Введите отчество"></div>
                            </section>
                            <div class="m2Title m2TitleIn"><p>эпоха</p></div>
                            <div class="m2Label">
                                <select th:field="*{epoch}">
                                    <option th:value="'тип не выбран'">выбрать эпоху</option>
                                    <option th:value="'Средневековье'">Средневековье</option>
                                    <option th:value="'Ренессанс'">Ренессанс</option>
                                    <option th:value="'Барокко'">Барокко</option>
                                    <option th:value="'Классицизм'">Классицизм</option>
                                    <option th:value="'Романтизм'">Романтизм</option>
                                    <option th:value="'Модернизм'">Модернизм</option>
                                    <option th:value="'XX век'">XX век</option>
                                    <option th:value="'XXI век'">XXI век</option>
                                </select>
                            </div>
                            <div class="saveBtnFio saveBtn_js"><p>сохранить</p></div>
                        </div>
                    </div> <!--фио и эпоха | th:обычные поля-->
                    <div class="cell">
                        <div class="round roundFoto roundJs"></div>
                    </div> <!--фото-->
                    <div class="frame">
                        <div class="cell">
                            <div class="round roundOther btn_js"></div>
                            <p>разное</p>
                            <p>100%</p>
                        </div>
                        <div class="menu">
                            <div attr='0' class="m1">
                                <p>в разработке</p>
                                <p>...</p>
                            </div>
                            <div class="back_js">назад</div>
                        </div>
                    </div> <!--разное | в разработке-->
                </div>
                <div class="col">
                    <div class="frame">
                        <div class="cell">
                            <div class="round roundBio btn_js"></div>
                            <p>биография</p>
                            <p>100%</p>
                        </div>
                        <div class="menu">
                            <div class="back_js">назад</div>
                            <input type="text" placeholder="скрытое поле1" th:field="*{bio}"> <!--ПОЛНОЕ БИО-->
                            <div class="bioFrame">
                                <div class="bioLeft">
                                    <div class="bioMini" style="border: 2px dotted white" onclick="f3(this)">
                                        <p>краткая биография</p>
                                    </div>
                                    <div class="line"></div>

                                    <section class="bioSect">
                                        <div class="cont">
                                            <div class="mainC"><input type="text" sepOpen='<p class="mainLabel">' sepClose="</p>"
                                                                      placeholder="введите название раздела"
                                                                      oninput="this.setAttribute('value', this.value)">
                                                <div class="btnLabelAdd" onclick="f2(this)"></div>
                                            </div>
                                            <div class="cells">
                                            </div>
                                            <div class="addBtn" onclick=f1(this)></div>
                                        </div>
                                    </section>
                                    <div class="saveBtn"
                                         onclick="this.parentElement.parentElement.parentElement.querySelector('.saveBtn_js').click()">
                                        <p>сохранить</p></div>
                                </div>
                                <div class="bioRight">
                                    <div class="miniBio">
                                        <textarea th:field="*{bioMini}" placeholder="введите краткую биографию"
                                                  oninput="this.innerHTML = this.value"></textarea> <!--КРАТКОЕ БИО-->
                                    </div>
                                    <!--<div class="bioAll fullBio">
                                        <input oninput="this.setAttribute('value', this.value)" type="text" class="bioLabelInput" placeholder="введите название подраздела">
                                        <div class="line2"></div>
                                        <textarea oninput="this.innerHTML = this.value" maxlength="120" class="bioSourceInput" placeholder="введите источник (не более 120 символов)"></textarea>
                                        <textarea oninput="this.innerHTML = this.value" placeholder="Введите текст подраздела" class="bioTextInput"></textarea>
                                    </div>-->

                                </div>
                            </div>
                            <div class="saveBtn3 saveBtn_js" style="margin-top: 30px; display: none"></div>
                        </div>
                    </div> <!--био-->
                    <div class="frame">
                        <div class="cell">
                            <div class="round roundAll btn_js"></div>
                            <p>окружение</p>
                            <p>100%</p>
                        </div>
                        <div class="menu">
                            <div attr='0' class="m1">
                                <p>в разработке</p>
                                <p>...</p>
                            </div>
                            <div class="back_js">назад</div>
                        </div>
                    </div> <!--окружение | в разработке-->
                </div>
            </div>
            <div class="submitBar">
                <input type="submit" value="опубликовать">
                <input class="ls_js" type="button" value="Сохранить в черновик">
            </div>
        </form>
    </sss>
    <div class="draftFrame" th:if="${updatedDraft==null}">
        <form th:method="POST" th:action="@{/draft/newDraft}" th:object="${draft}">
            <input class="draftName" type="hidden" placeholder="введите название черновика" th:field="*{draftName}">
            <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}">
            <input class="localSave" type="submit" value="Сохранить в черновик">

        </form>
    </div>

    <div class="draftFrame" th:if="${updatedDraft!=null}">
        <form th:method="PATCH" th:action="@{/draft/{id}(id=${updatedDraft.getId()})}" th:object="${updatedDraft}">
            <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}">
            <input class="localSave" type="submit" value="Обновить черновик">
        </form>
    </div>
    <div class="footer">ПОДВАЛ</div>
</div>
<script th:src="@{/assets/composer/main3.js}"></script>
<script th:src="@{/assets/composer/bio.js}"></script>
<!--<script src="main3.js"></script>
<script src="bio.js"></script>-->
</body>
</html>


