<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Распевы</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/aboutStyle.css}"/>
<!--    <link rel="stylesheet" href="aboutStyle.css">-->
</head>
<body>
<div class="content">
    <div class="header">
        <div class="nav">
            <a class="btnHome"></a>
        </div>
        <div class="logo"></div>
        <div class="nav"></div>
    </div>
    <div class="cap">
        <p><span th:text="${chants.getIncipit()}">Инципит</span></p>
        <p><span th:text="${chants.getRegion() + ' распева'}"> </span></p>

    </div>
    <div class="column">
        <div class="bLeft">
            <div class="labels">
                <p>Тип хора: 
                    <span th:text="${chants.getChorusType()}">Смешанный</span>
                </p>
                <p>Количество голосов: 
                    <span th:text="${chants.getVoiceCount()}">8</span>
                </p>
                <p>Состав хора:
                    <span th:text="${chants.getChorusStructure()}"></span>
                </p>
                <p>Количество хоров:
                    <span th:text="${chants.getChorusAmount()}"></span>
                </p>
                <p>Солисты:
                    <span th:text="${chants.getChorusVoicesList()}"></span>
                </p>
                <p>Хронометраж:
                    <span th:text="${chants.getTiming()}">2'14</span>
                </p>
            </div>
            
        </div>
        <div class="bCenter">
            <p><span th:text="${chants.getDescription()}">Описание</span></p>
        </div>
        <div class="bRight"> 
            <div class="btn"><p>история | о исполнении</p></div>
            <div class="btn"><p>о тексте</p></div>
            <div class="btn"><p>статьи | заметки</p></div>
            <div class="btn"><p>значимые исполнения</p></div>
            <div class="btn"><p>опечатки | комментарии</p></div>
        </div>
    </div>
    <div class="footer"></div>
</div>
<!--<script src="aboutJs.js"></script>-->
<script th:src="@{/assets/generalAssets/aboutJs.js}"></script>


</body>
</html>


