<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление новой обработки народной песни</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/aboutStyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/newStyle.css}"/>

 <!--   <link rel="stylesheet" href="aboutStyle.css">-->
   <!-- <link rel="stylesheet" href="newStyle.css">-->
</head>
<body>
<div class="content">
    <div class="header">
        <div class="nav">
            <a class="btnHome"></a>
        </div>
        <div class="logo"></div>
        <div class="nav"></div>
    </div>
    <div class="main">
        <sss>
            <form th:method="POST" th:action="@{/chants}" th:object="${chants}">
                <label>
                    <input type="text" placeholder="введите регион/монастырь" th:field="*{region}">
                    <input type="text" placeholder="введите инципит" th:field="*{incipit}">
                    <input type="text" placeholder="описание" th:field="*{description}">
                    <select th:field="*{chorusType}">
                        <option th:value="'тип хора не определен'">выбрать тип хора</option>
                        <option th:value="'Смешанный'">Смешанный</option>
                        <option th:value="'Мужской'">Мужской</option>
                        <option th:value="'Женский'">Женский</option>
                        <option th:value="'Синодальный*'">Синодальный*</option>
                    </select>
                    <input type="text" placeholder="введите кол-во голосов" th:field="*{voiceCount}">
                    <input type="text" placeholder="состав хора (например, SATB)" th:field="*{chorusStructure}">
                    <select th:field="*{chorusAmount}">
                        <option th:value="'количество хоров не определено'">выбрать количество хоров</option>
                        <option th:value="'один хор'">один хор</option>
                        <option th:value="'двойной'">двойной</option>
                        <option th:value="'тройной'">тройной</option>
                        <option th:value="'четверной'">четверной</option>
                    </select>
                    <select oninput="insertText(this, 'голосов', 'сочинении')">
                        <option disabled selected>выбрать солиста</option>
                        <option>дискант</option>
                        <option>альт</option>
                        <option>сопрано</option>
                        <option>контральто</option>
                        <option>контратенор</option>
                        <option>тенор</option>
                        <option>баритон</option>
                        <option>бас</option>
                    </select>
                    <input type="text" class="instruments" placeholder="список голосов" th:field="*{chorusVoicesList}">
                    <input type="text" placeholder="хронометраж" th:field="*{timing}">
                </label>
                <input type="submit" value="Опубликовать">
            </form>


        </sss>
        <div th:if="${updatedDraft==null}">
            <form th:method="POST" th:action="@{/draft/newDraft}" th:object="${draft}">
                <input type="text" placeholder="введите название черновика" th:field="*{draftName}">
                <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}"> <br>
                <input class="btnSave" type="submit" value="Сохранить в черновик">
            </form>
        </div>

        <div th:if="${updatedDraft!=null}">
            <form th:method="PATCH" th:action="@{/draft/{id}(id=${updatedDraft.getId()})}" th:object="${updatedDraft}">
                <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}">
                <input class="btnSave" type="submit" value="Обновить черновик">
            </form>
        </div>
    </div>
</div>
<div class="footer"></div>

<!--<script src="newJs.js"></script>-->
<script th:src="@{/assets/generalAssets/newJs.js}"></script>


</body>
</html>


