<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление новой обработки</title>
    <style>
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        input, select, button {
            height: 26px;
            width: 400px;
            margin-bottom: 10px;
        }

        .optionInstruments {
            display: none;
        }
    </style>
</head>
<body>
<div class="container">
    <sss>
        <form th:method="POST" th:action="@{/folkProcessing}" th:object="${folkProcessing}">
            <div class="folkProcessingAuthor"><input type="text" placeholder="введите автора обработки"
                                                     th:field="*{getComposer().getFio()}"></div>
            <div class="folkProcessingName"><input type="text" placeholder="введите название обработки"
                                                   th:field="*{folkProcessingName}"></div>
            <div class="dedication"><input type="text" placeholder="посвящение (если есть)" th:field="*{dedication}">
            </div>
            <div class="regionSong"><input type="text" placeholder="введите регион песни" th:field="*{region}">
            </div>
            <!--не поменяли базу-->
            <div class="description"><input type="text" placeholder="описание" th:field="*{description}"></div>
            <div class="opus"><input type="text" placeholder="введите опус (цифра)" th:field="*{opus}"></div>
            <div class="music">
                <select th:field="*{music}">
                    <option th:value="'Cappella'">a'Cappella</option>
                    <option th:value="''">Инструментальный состав</option>
                </select> </br>
                <div class="optionInstruments">
                    <select>
                        <option disabled selected>выбрать инструмент</option>
                        <option>фортепиано</option>
                        <option>рояль</option>
                        <option>скрипка</option>
                        <option>альт</option>
                        <option>виолончель</option>
                        <option>контрабас</option>
                        <option>флейта</option>
                        <option>флейта-пикколо</option>
                        <option>свирель</option>
                        <option>гобой</option>
                        <option>английский рожок</option>
                        <option>кларнет</option>
                        <option>фагот</option>
                        <option>труба</option>
                        <option>валторна</option>
                        <option>тромбон</option>
                        <option>туба</option>
                        <option>саксофон</option>
                        <option>дудук</option>
                        <option>арфа</option>
                        <option>малый барабан</option>
                        <option>большой барабан</option>
                        <option>там-там</option>
                        <option>колокола</option>
                        <option>тарелки</option>
                        <option>треугольник</option>
                        <option>бубен</option>
                        <option>литавра</option>
                        <option>вибрафон</option>
                        <option>ксилофон</option>
                        <option>колокольчики</option>
                        <option>коробочка</option>
                        <option>кастаньеты</option>
                        <option>ложки</option>
                        <option>баян</option>
                        <option>аккордеон</option>
                        <option>балалайка</option>
                        <option>домра</option>
                    </select> </br>
                    <input type="text" class="instruments" placeholder="список инструментов" th:field="*{music}">
                </div>

            </div>
            <div class="chorusType">
                <select th:field="*{chorusType}">
                    <option th:value="'тип не выбран'">выбрать тип хора</option>
                    <option th:value="'Вокальный ансамбль'">Вокальный ансамбль</option>
                    <option th:value="'Смешанный'">Смешанный</option>
                    <option th:value="'Мужской'">Мужской</option>
                    <option th:value="'Женский'">Женский</option>
                    <option th:value="'Женский (детский)'">Женский (детский)</option>
                    <option th:value="'Детский'">Детский</option>
                    <option th:value="'Синодальный*'">Синодальный*</option>
                </select>
            </div>
            <div class="voiceCount"><input type="text" placeholder="введите кол-во голосов" th:field="*{voiceCount}">
            </div>
            <div class="chorusStructure">
                <input type="text" placeholder="состав хора (например, SATB)" th:field="*{chorusStructure}"> <br>
                <select th:field="*{chorusAmount}">
                    <option th:value="'количество не выбрано'">количество хоров</option>
                    <option th:value="'один хор'">один хор</option>
                    <option th:value="'двойной'">двойной</option>
                    <option th:value="'тройной'">тройной</option>
                    <option th:value="'четверной'">четверной</option>
                </select>
                <div class="optionVoices">
                    <select>
                        <option disabled selected>выбрать солиста</option>
                        <option>дискант</option>
                        <option>альт</option>
                        <option>сопрано</option>
                        <option>контральто</option>
                        <option>контратенор</option>
                        <option>тенор</option>
                        <option>баритон</option>
                        <option>бас</option>
                    </select> </br>
                    <input type="text" class="instruments" placeholder="список голосов" th:field="*{chorusVoicesList}">
                </div>
            </div>
            <div class="timing"><input type="text" placeholder="хронометраж" th:field="*{timing}"></div>
            <div class="writeDate"><input type="text" placeholder="дата написания" th:field="*{writeDate}"></div>
            <div class="premiereDate"><input type="text" placeholder="дата премьеры" th:field="*{premiereDate}"></div>
            <div class="premierePlace"><input type="text" placeholder="место премьеры" th:field="*{premierePlace}">
            </div>
            <input type="submit" value="Опубликовать">
        </form>
    </sss>

    <div th:if="${updatedDraft==null}">
        <form th:method="POST" th:action="@{/draft/newDraft}" th:object="${draft}">
            <input type="text" placeholder="введите название черновика" th:field="*{draftName}">
            <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}"> <br>
            <input class="btnSave" type="submit" value="Сохранить в черновик">
        </form>
    </div>

    <div th:if="${updatedDraft!=null}">
        <form th:method="PATCH" th:action="@{/draft/{id}(id=${updatedDraft.getId()})}" th:object="${updatedDraft}">
            <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}">
            <input class="btnSave" type="submit" value="Обновить черновик">
        </form>
    </div>

</div>

<script>
    if (document.querySelector('.statement').value!==''){
        document.getElementsByTagName("sss")[0].innerHTML = document.querySelector('.statement').value
    }
    window.onload = function () {
        let music = document.querySelector('.music')
        let musicTrigger = music.querySelector('select')
        let optionInstruments = document.querySelector('.optionInstruments')
        let optionVoices = document.querySelector('.optionVoices')
        musicTrigger.addEventListener('change', () => {
            if (musicTrigger.value === "") {
                optionInstruments.style.display = 'block'
            } else {
                optionInstruments.style.display = 'none'
                optionInstruments.querySelector('.instruments').value = ''
            }
        })

        function selector(target, placeHolder, targetName) {
            let select = target.querySelector('select')
            let input = target.querySelector('input')
            select.addEventListener('change', () => {
                if (input.value === '') {
                    let time
                    setTimeout(() => {
                        time = prompt(targetName)
                        input.value += select.value + ' ' + 'x' + time
                        select.options[select.selectedIndex].remove()
                        select.value = placeHolder
                    }, 0)
                } else if (input.value.includes(select.value)) {
                } else {
                    let time
                    setTimeout(() => {
                        time = prompt(targetName)
                        input.value += ', ' + select.value + ' ' + 'x' + time
                        select.options[select.selectedIndex].remove()
                        select.value = placeHolder
                    }, 0)
                }
            })
        }

        selector(optionInstruments, 'выбрать инструмент', 'количество инструментов выбранного типа')
        selector(optionVoices, 'выбрать солиста', 'количество голосов выбранного типа')

        let btnSave = document.querySelector('.btnSave')
        btnSave.addEventListener('click', ()=>{
            let inputs = document.querySelectorAll('input')

            let selects = document.querySelectorAll('select')

            inputs.forEach(inp =>{
                let value = inp.value
                inp.setAttribute("value", value)
            })
            selects.forEach(select =>{
                const selectedOption = select.options[select.selectedIndex];
                console.log(selectedOption)
                let options = select.querySelectorAll('option')
                options.forEach(option =>{
                    option.removeAttribute("selected")
                })
                selectedOption.setAttribute("selected","selected")
            })
            let statement = document.querySelector('.statement')
            statement.value = document.getElementsByTagName("sss")[0].innerHTML
        })
    }
</script>
</body>
</html>