<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Хор</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/aboutStyle.css}"/>
<!--    <link rel="stylesheet" href="aboutStyle.css">-->
</head>
<body>
<div class="content">
    <div class="header">
        <div class="nav">
            <a class="btnHome"></a>
        </div>
        <div class="logo"></div>
        <div class="nav"></div>
    </div>
    <div class="cap">
        <div th:if="${chorus.getComposer()!=null}">
            <p><span> <a th:href="@{/composer/{id}(id=${chorus.getComposer().getId()})}"
                         th:text="${chorus.getComposer().getFio()}"></a></span></p>
        </div>
        <div th:if="${chorus.getComposer()==null}">
            <p><span th:text="${chorus.getComposerFio()}"></span></p>
        </div>
        <p><span th:text="${chorus.getChorusName()}">Утро в лесу</span></p>
        <p><span th:text="${chorus.getGenre()}">Хоровая миниатюра</span></p>
        <p><span th:text="${chorus.getDedication()}">Посвящается камерному хору “Lege Artis”</span></p>
    </div>
    <div class="column">
        <div class="bLeft">
            <div class="labels">
                <p>Автор текста:
                    <span th:text="${chorus.getTextAuthor()}">А. А. Фет</span>
                </p>
                <p>Опус:
                    <span th:text="${chorus.getOpus()}">13 a</span>
                </p>
                <p>Инструментальный состав:
                    <span style="display: block" th:text="${chorus.getMusic()}">рояль, флейта, скрипка</span>
                </p>
                <p>Тип хора: 
                    <span th:text="${chorus.getChorusType()}">Смешанный</span>
                </p>
                <p>Количество голосов: 
                    <span th:text="${chorus.getVoiceCount()}">8</span>
                </p>
                <p>Состав хора:
                    <span th:text="${chorus.getChorusStructure()}"></span>
                </p>
                <p>Количество хоров:
                    <span th:text="${chorus.getChorusAmount()}"></span>
                </p>
                <p>Солисты:
                    <span th:text="${chorus.getChorusVoicesList()}"></span>
                </p>
                <p>Хронометраж:
                    <span th:text="${chorus.getTiming()}">2'14</span>
                </p>
                <p>Дата написания:
                    <span th:text="${chorus.getWriteDate()}">14.02.1992</span>
                </p>
                <p>Дата | Место премьеры 
                    <span style="display: block" th:text="${chorus.getPremiereDate()}">17 марта 2004 года</span>
                    <span style="display: block" th:text="${chorus.getPremierePlace()}">Концертный зал Шереметьевского дворца</span>
                </p>
            </div>
            
        </div>
        <div class="bCenter">
            <p><span th:text="${chorus.getDescription()}">Описание</span></p>
        </div>
        <div class="bRight"> 
            <div class="btn"><p>история | о исполнении</p></div>
            <div class="btn"><p>о тексте</p></div>
            <div class="btn"><p>статьи | заметки</p></div>
            <div class="btn"><p>значимые исполнения</p></div>
            <div class="btn"><p>опечатки | комментарии</p></div>
        </div>
    </div>
    <div class="footer"></div>
</div>
<!--<script src="aboutJs.js"></script>-->
<script th:src="@{/assets/generalAssets/aboutJs.js}"></script>


</body>
</html>


