<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление новой аранжировки</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/aboutStyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/newStyle.css}"/>

 <!--   <link rel="stylesheet" href="aboutStyle.css">-->
   <!-- <link rel="stylesheet" href="newStyle.css">-->
</head>
<body>
<div class="content">
    <div class="header">
        <div class="nav">
            <a class="btnHome"></a>
        </div>
        <div class="logo"></div>
        <div class="nav"></div>
    </div>
    <div class="main">
            <form th:method="POST" th:action="@{/chorus}" th:object="${chorus}">
                <sss>
                <label>
                    <input class="valid" type="hidden" th:object="${composer}" th:field="*{fio}"
                           placeholder="скрытое FIO => в composer">
                    <input class="invalid" type="hidden" th:field="*{composerFio}"
                           placeholder="скрытое composerFio => в сочинение">
                    <p style="font-size:12px; color: #0f700f">ВАЖНО! ввод композитора ТОЛЬКО в формате ФИО, если
                        композитор неизвестный - нажать кнопку под формой ввода</p>
                    <input oninput="doValidate(this)" type="text" class="composer" list="composers"
                           placeholder="выбрать из списка или написать свое ФИО">
                    <datalist id="composers">
                        <option th:each="composer : ${composers}" th:value="${composer.getFio()}"
                                th:text="${composer.getFio()}">
                    </datalist>
                    <input type="button" value="Неизвестный композитор" onclick="unknownFIO(this)">
                    <input type="text" placeholder="введите название хора" th:field="*{chorusName}">
                    <input type="text" placeholder="посвящение (если есть)" th:field="*{dedication}">
                    <input type="text" placeholder="введите автора текста или нажмите кнопки снизу"
                           th:field="*{textAuthor}">
                    <section>
                        <input type="button" value="народный текст" onclick="insertBrt(this)">
                        <input type="button" value="канонический текст" onclick="insertBrt(this)">
                    </section>

                    <input type="text" placeholder="описание" th:field="*{description}">
                    <input type="text" placeholder="введите опус" th:field="*{opus}">
                    <select class="genreList" th:field="*{genre}">
                        <option th:value="'жанр не определен'">выбрать жанр</option>
                        <option th:value="'жанр не определен'">не определен</option>
                        <option th:value="'кант'">кант</option>
                        <option th:value="'гимн'">гимн</option>
                        <option th:value="'духовное сочинение'">духовное сочинение</option>
                        <option th:value="'авторское духовное сочинение'">авторское духовное сочинение</option>
                        <option th:value="'хоровая миниатюра'">хоровая миниатюра</option>
                        <option th:value="'хор крупной формы'">хор крупной формы</option>
                        <option th:value="'хоровая аранжировка'">хоровая аранжировка</option>
                        <option th:value="'обработка народной песни '">обработка народной песни</option>
                        <option th:value="'хоровая песня'">хоровая песня</option>
                        <option th:value="'хоровой концерт'">хоровой концерт</option>
                        <option th:value="'революционная песня'">революционная песня</option>
                        <option th:value="'советская массовая хоровая песня'">советская массовая хоровая песня</option>
                    </select>
                    <input class="genreInput hide" type="text" placeholder="национальность" th:field="*{genre}">
                    <select class="music" th:field="*{music}">
                        <option th:value="'музыкальное сопровождение не определено'">выбрать сопровождение</option>
                        <option th:value="'Cappella'">a'Cappella</option>
                        <option th:value="''">Инструментальный состав</option>
                    </select>
                    <select class="hide musicList" oninput="insertText(this, 'инструментов')">
                        <option disabled selected>выбрать инструменты</option>
                        <option>фортепиано</option>
                        <option>рояль</option>
                        <option>скрипка</option>
                        <option>альт</option>
                        <option>виолончель</option>
                        <option>контрабас</option>
                        <option>флейта</option>
                        <option>флейта-пикколо</option>
                        <option>свирель</option>
                        <option>гобой</option>
                        <option>английский рожок</option>
                        <option>кларнет</option>
                        <option>фагот</option>
                        <option>труба</option>
                        <option>валторна</option>
                        <option>тромбон</option>
                        <option>туба</option>
                        <option>саксофон</option>
                        <option>дудук</option>
                        <option>арфа</option>
                        <option>малый барабан</option>
                        <option>большой барабан</option>
                        <option>там-там</option>
                        <option>колокола</option>
                        <option>тарелки</option>
                        <option>треугольник</option>
                        <option>бубен</option>
                        <option>литавра</option>
                        <option>вибрафон</option>
                        <option>ксилофон</option>
                        <option>колокольчики</option>
                        <option>коробочка</option>
                        <option>кастаньеты</option>
                        <option>ложки</option>
                        <option>баян</option>
                        <option>аккордеон</option>
                        <option>балалайка</option>
                        <option>домра</option>
                    </select>
                    <input class="hide musicInput" type="text" placeholder="инструменты" th:field="*{music}">
                    <select th:field="*{chorusType}">
                        <option th:value="'тип хора не определен'">выбрать тип хора</option>
                        <option th:value="'Вокальный ансамбль'">Вокальный ансамбль</option>
                        <option th:value="'Смешанный'">Смешанный</option>
                        <option th:value="'Мужской'">Мужской</option>
                        <option th:value="'Женский'">Женский</option>
                        <option th:value="'Женский (детский)'">Женский (детский)</option>
                        <option th:value="'Детский'">Детский</option>
                        <option th:value="'Синодальный*'">Синодальный*</option>
                    </select>
                    <input type="text" placeholder="введите кол-во голосов" th:field="*{voiceCount}">
                    <input type="text" placeholder="состав хора (например, SATB)" th:field="*{chorusStructure}">
                    <select th:field="*{chorusAmount}">
                        <option th:value="'количество хоров не определено'">выбрать количество хоров</option>
                        <option th:value="'один хор'">один хор</option>
                        <option th:value="'двойной'">двойной</option>
                        <option th:value="'тройной'">тройной</option>
                        <option th:value="'четверной'">четверной</option>
                    </select>
                    <select oninput="insertText(this, 'голосов', 'хоре')">
                        <option disabled selected>выбрать солиста</option>
                        <option>дискант</option>
                        <option>альт</option>
                        <option>сопрано</option>
                        <option>контральто</option>
                        <option>контратенор</option>
                        <option>тенор</option>
                        <option>баритон</option>
                        <option>бас</option>
                    </select>
                    <input type="text" class="instruments" placeholder="список голосов" th:field="*{chorusVoicesList}">
                    <input type="text" placeholder="хронометраж" th:field="*{timing}">
                    <input type="text" placeholder="дата написания" th:field="*{writeDate}">
                    <input type="text" placeholder="дата премьеры" th:field="*{premiereDate}">
                    <input type="text" placeholder="место премьеры" th:field="*{premierePlace}">
                </label>
                <input type="submit" value="Опубликовать">
                </sss>
            </form>

        <div th:if="${updatedDraft==null}">
            <form th:method="POST" th:action="@{/draft/newDraft}" th:object="${draft}">
                <input type="text" placeholder="введите название черновика" th:field="*{draftName}">
                <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}"> <br>
                <input class="btnSave" type="submit" value="Сохранить в черновик">
            </form>
        </div>

        <div th:if="${updatedDraft!=null}">
            <form th:method="PATCH" th:action="@{/draft/{id}(id=${updatedDraft.getId()})}" th:object="${updatedDraft}">
                <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}">
                <input class="btnSave" type="submit" value="Обновить черновик">
            </form>
        </div>
    </div>
</div>
<div class="footer"></div>

<!--<script src="newJs.js"></script>-->
<script th:src="@{/assets/generalAssets/newJs.js}"></script>


</body>
</html>


