*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input, select, button {
    height: 26px;
    width: 400px;
    margin-bottom: 10px;
}

.optionInstruments, .optionGenre {
    display: none;
}

.customDiv{
    margin-bottom: 10px;
}

.customInputContainer,.customSelect{
    width: 100%;
    position: relative;
}

.customInputContainer{
    margin-bottom: 1px;
}
.customDivBtn{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    background-image: url("img/close.png");
    background-size: 100%,100%;
}

.customInput{
    width: 100%;
    height: 100%;
}


.btnTest{
    margin-bottom: 6px;
    cursor: pointer;
}

