<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сочинение древнерусского певческого стиля</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/aboutStyle.css}"/>
<!--    <link rel="stylesheet" href="aboutStyle.css">-->
</head>
<body>
<div class="content">
    <div class="header">
        <div class="nav">
            <a class="btnHome"></a>
        </div>
        <div class="logo"></div>
        <div class="nav"></div>
    </div>
    <div class="cap">
        <div th:if="${opusDPS.getComposer()!=null}">
            <p><span> <a th:href="@{/composer/{id}(id=${opusDPS.getComposer().getId()})}"
                         th:text="${opusDPS.getComposer().getFio()}"></a></span></p>
        </div>
        <div th:if="${opusDPS.getComposer()==null}">
            <p><span th:text="${opusDPS.getComposerFio()}"></span></p>
        </div>
        <p><span th:text="${opusDPS.getIncipit()}">Утро в лесу</span></p>
        <p><span th:text="${opusDPS.getWritingStyle()}">Стиль сочинения</span></p>
    </div>
    <div class="column">
        <div class="bLeft">
            <div class="labels">
                <p>Составитель/расшифровщик:
                    <span th:text="${opusDPS.getCompilerDecoder()}">А. А. Фет</span>
                </p>
                <p>Шифр:
                    <span th:text="${opusDPS.getCypher()}">13 a</span>
                </p>
                <p>Тип хора: 
                    <span th:text="${opusDPS.getChorusType()}">Смешанный</span>
                </p>
                <p>Количество голосов: 
                    <span th:text="${opusDPS.getVoiceCount()}">8</span>
                </p>
                <p>Состав хора:
                    <span th:text="${opusDPS.getChorusStructure()}"></span>
                </p>
                <p>Количество хоров:
                    <span th:text="${opusDPS.getChorusAmount()}"></span>
                </p>
                <p>Солисты:
                    <span th:text="${opusDPS.getChorusVoicesList()}"></span>
                </p>
                <p>Хронометраж:
                    <span th:text="${opusDPS.getTiming()}">2'14</span>
                </p>
                <p>Дата написания:
                    <span th:text="${opusDPS.getWriteDate()}">14.02.1992</span>
                </p>
                <p>Дата | Место премьеры 
                    <span style="display: block" th:text="${opusDPS.getPremiereDate()}">17 марта 2004 года</span>
                    <span style="display: block" th:text="${opusDPS.getPremierePlace()}">Концертный зал Шереметьевского дворца</span>
                </p>
            </div>
            
        </div>
        <div class="bCenter">
            <p><span th:text="${opusDPS.getDescription()}">Описание</span></p>
        </div>
        <div class="bRight"> 
            <div class="btn"><p>история | о исполнении</p></div>
            <div class="btn"><p>о тексте</p></div>
            <div class="btn"><p>статьи | заметки</p></div>
            <div class="btn"><p>значимые исполнения</p></div>
            <div class="btn"><p>опечатки | комменатрии</p></div>
        </div>
    </div>
    <div class="footer"></div>
</div>
<!--<script src="aboutJs.js"></script>-->
<script th:src="@{/assets/generalAssets/aboutJs.js}"></script>


</body>
</html>


