<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление новой обработки народной песни</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/aboutStyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/generalAssets/newStyle.css}"/>

 <!--   <link rel="stylesheet" href="aboutStyle.css">-->
   <!-- <link rel="stylesheet" href="newStyle.css">-->
</head>
<body>
<div class="content">
    <div class="header">
        <div class="nav">
            <a class="btnHome"></a>
        </div>
        <div class="logo"></div>
        <div class="nav"></div>
    </div>
    <div class="main">
            <form th:method="POST" th:action="@{/opusDPS}" th:object="${opusDPS}">
                <sss>
                <label>
                    <select th:field="*{writingStyle}">
                        <option th:value="'стиль не cочинения не определен'">Выбрать стиль сочинения</option>
                        <option th:value="'Демественное многоголосие (конец XV-XI вв.)'">Демественное многоголосие (конец
                            XV-XI вв.)
                        </option>
                        <option th:value="'Строчное многоголосие (20e-30e года XVII в.)'">Строчное многоголосие (20e-30e
                            года XVII в.)
                        </option>
                        <option th:value="'Знаменное многоголосие/Крюковой партес'">Знаменное многоголосие/Крюковой партес
                        </option>
                        <option th:value="'Партесная гармонизация (70e-80e гг. XVII в.)'">Партесная гармонизация (70e-80e
                            гг. XVII в.)
                        </option>
                        <option th:value="'Свободное сочинение (70e-80e гг. XVII в.)'">Свободное сочинение (70e-80e гг. XVII
                            в.)
                        </option>
                        <option th:value="'Партесный концерт'">Партесный концерт</option>
                        <option th:value="'Кант'">Кант</option>
                    </select>
                    <input class="valid" type="hidden" th:object="${composer}" th:field="*{fio}"
                           placeholder="скрытое FIO => в composer">
                    <input class="invalid" type="hidden" th:field="*{composerFio}"
                           placeholder="скрытое composerFio => в сочинение">
                    <p style="font-size:12px; color: #0f700f">ВАЖНО! ввод имени композитора ТОЛЬКО в формате ФИО, если
                        композитор неизвестен - нажать кнопку под формой ввода</p>
                    <input oninput="doValidate(this)" type="text" class="composer" list="composers"
                           placeholder="выбрать из списка или написать свое ФИО">
                    <datalist id="composers">
                        <option th:each="composer : ${composers}" th:value="${composer.getFio()}"
                                th:text="${composer.getFio()}">
                    </datalist>
                    <input type="button" value="Неизвестный композитор" onclick="unknownFIO(this)">
                    <input type="text" placeholder="введите инципит" th:field="*{incipit}">
                    <input type="text" placeholder="составитель/расшифровщик" th:field="*{compilerDecoder}">
                    <input type="text" placeholder="шифр" th:field="*{cypher}">
                    <input type="text" placeholder="описание" th:field="*{description}">
                    <select th:field="*{chorusType}">
                        <option th:value="'тип хора не определен'">выбрать тип хора</option>
                        <option th:value="'Смешанный'">Смешанный</option>
                        <option th:value="'Мужской'">Мужской</option>
                        <option th:value="'Женский'">Женский</option>
                        <option th:value="'Синодальный*'">Синодальный*</option>
                    </select>
                    <input type="text" placeholder="введите кол-во голосов" th:field="*{voiceCount}">
                    <input type="text" placeholder="состав хора (например, SATB)" th:field="*{chorusStructure}">
                    <select th:field="*{chorusAmount}">
                        <option th:value="'количество хоров не определено'">выбрать количество хоров</option>
                        <option th:value="'один хор'">один хор</option>
                        <option th:value="'двойной'">двойной</option>
                        <option th:value="'тройной'">тройной</option>
                        <option th:value="'четверной'">четверной</option>
                    </select>
                    <select oninput="insertText(this, 'голосов', 'сочинении')">
                        <option disabled selected>выбрать солиста</option>
                        <option>дискант</option>
                        <option>альт</option>
                        <option>сопрано</option>
                        <option>контральто</option>
                        <option>контратенор</option>
                        <option>тенор</option>
                        <option>баритон</option>
                        <option>бас</option>
                    </select>
                    <input type="text" class="instruments" placeholder="список голосов" th:field="*{chorusVoicesList}">
                    <input type="text" placeholder="хронометраж" th:field="*{timing}">
                    <input type="text" placeholder="дата написания" th:field="*{writeDate}">
                    <input type="text" placeholder="дата премьеры" th:field="*{premiereDate}">
                    <input type="text" placeholder="место премьеры" th:field="*{premierePlace}">
                </label>
                <input type="submit" value="Опубликовать">
                </sss>
            </form>

        <div th:if="${updatedDraft==null}">
            <form th:method="POST" th:action="@{/draft/newDraft}" th:object="${draft}">
                <input type="text" placeholder="введите название черновика" th:field="*{draftName}">
                <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}"> <br>
                <input class="btnSave" type="submit" value="Сохранить в черновик">
            </form>
        </div>

        <div th:if="${updatedDraft!=null}">
            <form th:method="PATCH" th:action="@{/draft/{id}(id=${updatedDraft.getId()})}" th:object="${updatedDraft}">
                <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}">
                <input class="btnSave" type="submit" value="Обновить черновик">
            </form>
        </div>
    </div>
</div>
<div class="footer"></div>

<!--<script src="newJs.js"></script>-->
<script th:src="@{/assets/generalAssets/newJs.js}"></script>


</body>
</html>


