<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового сочинения древнерусского певческого стиля</title>
    <style>
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        input, select, button {
            height: 26px;
            width: 400px;
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
<div class="container">
    <sss>
        <form th:method="POST" th:action="@{/opusDPS}" th:object="${opusDPS}">
            <div class="writingStyle">
                <select th:field="*{writingStyle}">
                    <option th:value="'стиль не выбран'">Выбрать стиль сочинения</option>
                    <option th:value="'Демественное многоголосие (конец XV-XI вв.)'">Демественное многоголосие (конец
                        XV-XI вв.)
                    </option>
                    <option th:value="'Строчное многоголосие (20e-30e года XVII в.)'">Строчное многоголосие (20e-30e
                        года XVII в.)
                    </option>
                    <option th:value="'Знаменное многоголосие/Крюковой партес'">Знаменное многоголосие/Крюковой партес
                    </option>
                    <option th:value="'Партесная гармонизация (70e-80e гг. XVII в.)'">Партесная гармонизация (70e-80e
                        гг. XVII в.)
                    </option>
                    <option th:value="'Свободное сочинение (70e-80e гг. XVII в.)'">Свободное сочинение (70e-80e гг. XVII
                        в.)
                    </option>
                    <option th:value="'Партесный концерт'">Партесный концерт</option>
                    <option th:value="'Кант'">Кант</option>
                </select>
            </div>
            <div class="composerName"><input type="text" placeholder="введите имя композитора"
                                             th:field="*{composerFio}"></div>
            <div class="incipit"><input type="text" placeholder="введите инципит" th:field="*{incipit}"></div>
            <div class="compilerDecoder"><input type="text" placeholder="составитель/расшифровщик"
                                                th:field="*{compilerDecoder}"></div>
            <div class="cypher"><input type="text" placeholder="шифр" th:field="*{cypher}"></div>
            <div class="description"><input type="text" placeholder="описание" th:field="*{description}"></div>
            <div class="chorusType">
                <select th:field="*{chorusType}">
                    <option th:value="'тип не выбран'">выбрать тип хора</option>
                    <option th:value="'Смешанный'">Смешанный</option>
                    <option th:value="'Мужской'">Мужской</option>
                    <option th:value="'Женский'">Женский</option>
                    <option th:value="'Синодальный*'">Синодальный*</option>
                </select>
            </div>
            <div class="voiceCount"><input type="text" placeholder="введите кол-во голосов" th:field="*{voiceCount}">
            </div>
            <div class="chorusStructure">
                <input type="text" placeholder="состав хора (например, SATB)" th:field="*{chorusStructure}"> <br>
                <select th:field="*{chorusAmount}">
                    <option th:value="'количество не выбрано'">количество хоров</option>
                    <option th:value="'один хор'">один хор</option>
                    <option th:value="'двойной'">двойной</option>
                    <option th:value="'тройной'">тройной</option>
                    <option th:value="'четверной'">четверной</option>
                </select>
                <div class="optionVoices">
                    <select>
                        <option disabled selected>выбрать солиста</option>
                        <option>дискант</option>
                        <option>альт</option>
                        <option>сопрано</option>
                        <option>контральто</option>
                        <option>контратенор</option>
                        <option>тенор</option>
                        <option>баритон</option>
                        <option>бас</option>
                    </select> </br>
                    <input type="text" class="instruments" placeholder="список голосов" th:field="*{chorusVoicesList}">
                </div>
            </div>
            <div class="timing"><input type="text" placeholder="хронометраж" th:field="*{timing}"></div>
            <div class="writeDate"><input type="text" placeholder="дата написания" th:field="*{writeDate}"></div>
            <div class="premiereDate"><input type="text" placeholder="дата премьеры" th:field="*{premiereDate}"></div>
            <div class="premierePlace"><input type="text" placeholder="место премьеры" th:field="*{premierePlace}">
            </div>
            <input type="submit" value="Опубликовать">
        </form>
    </sss>

    <div th:if="${updatedDraft==null}">
        <form th:method="POST" th:action="@{/draft/newDraft}" th:object="${draft}">
            <input type="text" placeholder="введите название черновика" th:field="*{draftName}">
            <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}"> <br>
            <input class="btnSave" type="submit" value="Сохранить в черновик">
        </form>
    </div>

    <div th:if="${updatedDraft!=null}">
        <form th:method="PATCH" th:action="@{/draft/{id}(id=${updatedDraft.getId()})}" th:object="${updatedDraft}">
            <input class="statement" type="hidden" placeholder="слепок" th:field="*{pageStatement}">
            <input class="btnSave" type="submit" value="Обновить черновик">
        </form>
    </div>
</div>
<script>
    if (document.querySelector('.statement').value!==''){
        document.getElementsByTagName("sss")[0].innerHTML = document.querySelector('.statement').value
    }
    window.onload = function () {
        let optionVoices = document.querySelector('.optionVoices')

        function selector(target, placeHolder, targetName) {
            let select = target.querySelector('select')
            let input = target.querySelector('input')
            select.addEventListener('change', () => {
                if (input.value === '') {
                    let time
                    setTimeout(() => {
                        time = prompt(targetName)
                        input.value += select.value + ' ' + 'x' + time
                        select.options[select.selectedIndex].remove()
                        select.value = placeHolder
                    }, 0)
                } else if (input.value.includes(select.value)) {
                } else {
                    let time
                    setTimeout(() => {
                        time = prompt(targetName)
                        input.value += ', ' + select.value + ' ' + 'x' + time
                        select.options[select.selectedIndex].remove()
                        select.value = placeHolder
                    }, 0)
                }
            })
        }

        selector(optionVoices, 'выбрать солиста', 'количество голосов выбранного типа')

        let btnSave = document.querySelector('.btnSave')
        btnSave.addEventListener('click', ()=>{
            let inputs = document.querySelectorAll('input')

            let selects = document.querySelectorAll('select')

            inputs.forEach(inp =>{
                let value = inp.value
                inp.setAttribute("value", value)
            })
            selects.forEach(select =>{
                const selectedOption = select.options[select.selectedIndex];
                console.log(selectedOption)
                let options = select.querySelectorAll('option')
                options.forEach(option =>{
                    option.removeAttribute("selected")
                })
                selectedOption.setAttribute("selected","selected")
            })
            let statement = document.querySelector('.statement')
            statement.value = document.getElementsByTagName("sss")[0].innerHTML
        })
    }
</script>
</body>
</html>